html,
body {
    height: 100%;
   
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    font-size: 0;
}

ul {
    list-style: none;
}